.UpdateNoteForm-forms form{
    /* background-color: brown; */
    display: none
}

.Update-DeleteNoteForms{
     /* background-color: brown; */
     display: flex;
     height: 3rem;
     justify-content: center;
}