.UpdateNoteForm-forms form{
    /* background-color: brown; */
    display: none
}

.Update-DeleteNoteForms{
     background-color: brown;
     display: flex;
     justify-items: center;
     justify-content: center;
}