.NoteListItem-note {
    background-color: #80727B;
    width: 95%;
    border-radius: 1rem;
    padding: 40px;
    padding-bottom: -20rem;
    margin: 3rem;
    gap: 2rem;
}


* {
    /* border: 1px black dashed; */
}


.NoteListItem-note button {
   font-size: 13px;
}

.Sorting-btn {
    display: flex;
    margin-top: 2rem;
    /* justify-items: end; */
    /* justify-self: end; */
    justify-self: flex-start;
}
